{
	"useTabs": false,
	"singleQuote": true,
	"trailingComma": "none",
	"tabWidth": 2,
	"printWidth": 100,
	"pluginSearchDirs": false,
	"bracketSameLine": true,
	"plugins": [
		"prettier-plugin-svelte",
		"@ianvs/prettier-plugin-sort-imports",
		"prettier-plugin-tailwindcss"
	],
	"importOrder": [
		"<TYPES>",
		"<TYPES>^[.]",
		"",
		"^(svelte/(.*)$)|^(svelte$)",
		"^(@sveltejs/(.*)$)|^(@sveltejs$)",
		"^(@auth/sveltekit/(.*)$)|^(@auth/sveltekit$)",
		"^(@next-auth/(.*)$)|^(@next-auth$)",
		"^(@auth/core/providers/(.*)$)|^(@auth/core/providers$)",
		"<BUILTIN_MODULES>",
		"<THIRD_PARTY_MODULES>",
		"",
		"^\\$app",
		"^\\$service-worker",
		"^\\$env",
		"",
		"^\\$lib/server",
		"^\\$lib/emails",
		"^\\$lib/stores",
		"^\\$components/",
		"^\\$(?![^\\/]*\\/)",
		"^\\$[^/]*\\/[^/]+",
		"^[./]",
		"\\.js$",
		"\\.svelte$"
	],
	"importOrderSeparation": false,
	"importOrderSortSpecifiers": true,
	"importOrderBuiltinModulesToTop": true,
	"importOrderParserPlugins": ["typescript"],
	"importOrderMergeDuplicateImports": true,
	"importOrderCombineTypeAndValueImports": true,
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
